<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <header class="header">
        <h1 class="header-title">Create your post</h1>
    </header>
    <main class="main-content">
    <form class="post-form" method="post" action="/posts">
        <input class="post-form-input" placeholder="Enter username" name="username" /><br /> <br />
        <textarea class="post-form-textarea" placeholder="Write your post" name="content"></textarea><br />
        <button class="post-form-button">Add Post</button>
     </form>
    </main>
</body>
</html>