<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPLETE POST</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <header class="header">
        <h1 class="header-title">Here is your complete post</h1>
    </header>
    <main class="main-content">
    <p> Post id : <%=post.id %> </p>
    <div class="post">
        <h3 class="post-username">Username: <%= post.username %></h3>
        <h4 class="post-content"> <%=post.content %></h4>
    </div>
</main>
</body>
</html>